ul {
    list-style-image: url('images/view/Uno-Game.png');
    list-style-position: inside;
}
body {
    background: #84996f;
}

#waitArea{
    display: none;
    background: #a7efd3;
    margin: 0 auto;
    position: relative;
    top: 200px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

#gameArea{
    display: none;
    background-image: url('images/view/table.jpg');
    margin: 0 auto;
    position: relative;
    top: 10px;
    width: 1200px;
    height: 750px;
    padding: 35px;
    border-radius: 15px;
    text-align: center;
}

#canvas{
    background-image: url('images/view/playfield.jpg');
     border-radius: 15px;
} 

#welcomePage{
    display: block;
    background: #a7efd3;
    margin: 0 auto;
    position: relative;
    top: 200px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

#startBtnDiv{
    text-align: center;
}

#startBtn{
    background-color: #01995e;
    border: none;
    color: white;
    padding: 20px 32px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
}
#startBtn:hover {
    background-color: #27e89d; 
    color: navajowhite;
}

#players{
    position: relative;
    margin: 0 auto;
    left: -20px;
    width: 240px;
}
